@mixin app-component-container()
{
  $devices: (
    'mobile': (
      'gutter': 10px,
    ),
    'tablet': (
      'gutter': 20px,
      'breakpoint': pal-get('breakpoint.tablet')
    ),
    'desktop': (
      'gutter': 72px,
      'breakpoint': pal-get('breakpoint.desktop')
    ),
    'max': (
      'gutter': 72px,
      'breakpoint': pal-get('breakpoint.max')
    ),
  );

  .g-container {
    $gutter: pal-map-get($devices, 'mobile.gutter');
    @include app-horizontal-margins($gutter);

    $breakpoint: pal-map-get($devices, 'tablet.breakpoint');
    $gutter: pal-map-get($devices, 'tablet.gutter');
    @media screen and (min-width: $breakpoint) {
      @include app-horizontal-margins($gutter);
    }

    $breakpoint: pal-map-get($devices, 'desktop.breakpoint');
    $gutter: pal-map-get($devices, 'desktop.gutter');
    @media screen and (min-width: $breakpoint) {
      @include app-horizontal-margins($gutter);
    }

    $breakpoint: pal-map-get($devices, 'max.breakpoint');
    $gutter: pal-map-get($devices, 'max.gutter');
    @media screen and (min-width: $breakpoint) {
      max-width: $breakpoint - 2 * $gutter;
      @include app-horizontal-margins(auto);
    }
  }

  .g-container-item {
    &.--full-width {
      $gutter: pal-map-get($devices, 'mobile.gutter');
      @include app-horizontal-margins(-1 * $gutter !important);

      $breakpoint: pal-map-get($devices, 'tablet.breakpoint');
      $gutter: pal-map-get($devices, 'tablet.gutter');
      @media screen and (min-width: $breakpoint) {
        @include app-horizontal-margins(-1 * $gutter !important);
      }

      $breakpoint: pal-map-get($devices, 'desktop.breakpoint');
      $gutter: pal-map-get($devices, 'desktop.gutter');
      @media screen and (min-width: $breakpoint) {
        @include app-horizontal-margins(-1 * $gutter !important);
      }

      $breakpoint: pal-map-get($devices, 'max.breakpoint');
      $gutter: pal-map-get($devices, 'max.gutter');
      $max-width: $breakpoint - 2 * $gutter;
      $half-max-width: $max-width / 2;
      @media screen and (min-width: $breakpoint) {
        $gutter: calc(-50vw + #{$half-max-width});
        @include app-horizontal-margins($gutter !important);
      }
    }
  }
}
