<h2>Test button component</h2>

<section class="test-section">
  <h3>Color</h3>

  <button fow-button>Default</button>
  &nbsp;
  <button fow-button color="secondary">Secondary</button>
  <button fow-button color="primary">Primary</button>
</section>

<section class="test-section">
  <h3>Size</h3>

  <button fow-button>Default</button>
  &nbsp;
  <button fow-button size="small">Small</button>
  <button fow-button size="medium">Medium</button>
  <button fow-button size="large">Large</button>
</section>
