# 3rd party
node_modules/
vendor/

# App and development directories
/.backup/
/.dev/
/src/data
!/src/data/app/*

# Public assets and files
assets/
images/
*.pdf
sitemap.xml
sitemap.xml.gz

# Environment files
.env
.env.production
.env.development
!.env.example
