# 3rd party
node_modules/
vendor/

# App and development directories
/.backup/
/.dev/
/src/data/cache/
/src/data/resources/cr
/src/data/backup

# Public assets and files
/js/
/css/
/images/
/documents/
.env
.env.production
.env.development
.pdf
/sitemap.xml
/sitemap.xml.gz

# Not these
!.env.example
