$font-family: Helvetica, Verdana, sans-serif;

$font-size: 16px;
$font-050: $font-size * 0.50;
$font-066: $font-size * 0.66;
$font-075: $font-size * 0.75;
$font-080: $font-size * 0.80;
$font-090: $font-size * 0.90;
$font-100: $font-size;
$font-105: $font-size * 1.05;
$font-110: $font-size * 1.10;
$font-120: $font-size * 1.20;
$font-125: $font-size * 1.25;
$font-150: $font-size * 1.50;
$font-200: $font-size * 2.00;
$font-300: $font-size * 3.00;
