body {
  font-family: $font-family;
  font-size: $font-size;
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  padding: 0!important;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media only screen and (max-width: $breakpoint-xs) {
  .row {
    margin-left: 3px;
    margin-right: 3px;
  }
  .col-xs-12 {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
