/**
 * Classes abbreviations
 * =====================
 *
 * .fd-cr             // Root component
 * .fd-cr-ttl         // Title component
 * .fd-cr-toc         // Table of Contents (ToC)
 * .fd-cr-toc__ttl    // ToC Title
 * .fd-cr-toc__bdy    // ToC Body
 * .fd-cr-toc__itm    // ToC Item
 * .fd-cr-bdy         // Body component
 * .fd-cr-bdy__1      // Level 1 Subcomponent
 * .fd-cr-bdy__1__ttl // Level 1 Title Subcomponent
 * .fd-cr-bdy__1__top // Level 1 Top Subcomponent
 * .fd-cr-bdy__1__bdy // Level 1 Body Subcomponent
 * .fd-cr-bdy__2      // Level 2 Subcomponent
 * .fd-cr-bdy__2__ttl // Level 2 Title Subcomponent
 * .fd-cr-bdy__2__top // Level 2 Top Subcomponent
 * .fd-cr-bdy__2__bdy // Level 2 Body Subcomponent
 * .fd-cr-bdy__3      // Level 3 Subcomponent
 * .fd-cr-bdy__4      // Level 4 Subcomponent
 * .fd-cr-bdy__5      // Level 5 Subcomponent
 * .fd-cr-hru         // Horizontal Rule
 */

// Title component
.fd-cr-ttl {
  margin-bottom: 2rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid rgba(0,0,0,.15);
}

// Title component: get subtitles closer
.fd-cr-ttl h2 {
  margin: 0.5rem 0;
}

// Table of content and Level 1 subcomponent are box containers
.fd-cr-toc,
.fd-cr-bdy__1 {
  background-color: #f0f0f0;
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  border: 1px solid rgba(0,0,0,.05);
}

// Dim color for show/hide icons
.fd-cr-toc__ttl i,
.fd-cr-bdy__1__ttl i {
  color: rgba(0,0,0,.5);
}

// Show a border between title and content of box containers
.fd-cr-toc__bdy,
.fd-cr-bdy__1__bdy {
  border-top: 1px solid rgba(0,0,0,.15);
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 1.05rem;
}

// Separate table of contents items more
.fd-cr-toc__itm {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

// Make paragraph titles stand out
.fd-cr-bdy__2__ttl {
  font-weight: bold;
}

// Indent components with levels 3+
.fd-cr-bdy__3,
.fd-cr-bdy__4,
.fd-cr-bdy__5 {
  padding-left: 1rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
}

// Style the horizontal rule dividing paragraphs
.fd-cr-hru {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

// Highlight selected item (used by JS)
.fd-cr-highlight {
  background-color: #a0ffa0;
}
