$color-accent: $color-grey-33;
$color-light: $color-grey-85;
$color-accent2: lighten($color-accent, 20%);

.fd-pagination {
 
  border: 1px solid $color-accent2;
  border-radius: .5rem;
  overflow: hidden;

  // .pagination-links
  &-links {

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;

    & a,
    & span {
      font-size: $font-110;
      padding: 0.25rem 0.5rem;
      text-align: center; 
      flex-basis: 15%;
      color: $color-accent;
    }

    & a {
      text-decoration: none;
    }

    & a:hover {
      background-color: $color-accent;
      color: $color-light;
    }

    & .prev,
    & .next {
      flex-grow: 2;
    }

    & span.prev,
    & span.next {
      flex-grow: 2;
      color: $color-light;
    }

    & .first,
    & .last {
      flex-shrink: 2;
    }

    & .adjacent {
      flex-shrink: 2;
    }

    // Hide adjacent links on mobiles
    @media screen and (max-width: 768px) {
      & .adjacent {
        display: none;
      }
    }

    & .current {
      flex-grow: 2;
      background-color: $color-accent;
      color: $color-light;
    }

    & .dots {
      flex-shrink: 3;
    }
  }

  // .pagination-progress
  &-progress {

    $color-start: $color-accent;
    $color-stop: $color-accent;
    $color-border: $color-start;
    $color-text: #fff;
  
    font-size: $font-075;
    text-shadow:
      1px 1px 1px $color-stop,
      1px -1px 1px $color-stop,
      -1px 1px 1px $color-stop,
      -1px -1px 1px $color-stop;
    min-height: $spacer-033;
    padding: .2rem;
    text-align: center;
    color: $color-text;
    background-image:
      linear-gradient(to left, $color-stop, $color-start);
    background-position: left;
    background-size: 0;
    background-repeat: no-repeat;
    background-color: $color-accent2;

  }

}
