.fd-zoomable-sm,
.fd-zoomable-md,
.fd-zoomable-lg {
  position: relative;
  display: inline-block;
  max-width: $max-card-image-width;
}

.fd-zoomable-sm::after,
.fd-zoomable-md::after,
.fd-zoomable-lg::after {
  font-family: FontAwesome;
  content: "\f00e"; // fa-search-plus
  color: #fff;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

.fd-zoomable-sm::after {
  font-size: 0.7rem;
  right: 5%;
  bottom: 5%;
  text-shadow: 1px 1px #000;
}

// Bottom < Right because I use it on 1:1.4 image formats
.fd-zoomable-md::after {
  font-size: 1.5rem;
  right: 8px;
  bottom: 8px;
  text-shadow: 3px 3px 10px #000;
}
.fd-zoomable-lg::after {
  font-size: 2.5rem;
  right: 12px;
  bottom: 0px;
  text-shadow: 3px 3px 10px #000;
}
