// Alias
$s000: $spacer-000;
$s010: $spacer-010;
$s025: $spacer-025;
$s033: $spacer-033;
$s050: $spacer-050;
$s066: $spacer-066;
$s075: $spacer-075;
$s100: $spacer-100;
$s150: $spacer-150;
$s200: $spacer-200;

// 4 sides --------------------------------------------------------------------

// .m-0   { margin: $s000; }
// .m-10  { margin: $s010; }
.m-25  { margin: $s025; }
// .m-33  { margin: $s033; }
// .m-50  { margin: $s050; }
// .m-66  { margin: $s066; }
// .m-75  { margin: $s075; }
// .m-100 { margin: $s100; }
// .m-150 { margin: $s150; }
// .m-200 { margin: $s200; }

// 3 sides --------------------------------------------------------------------

// Top / Right / Bottom
// .mtrb-0   { margin-top: $s000; margin-right: $s000; margin-bottom: $s000; }
// .mtrb-10  { margin-top: $s010; margin-right: $s010; margin-bottom: $s010; }
// .mtrb-25  { margin-top: $s025; margin-right: $s025; margin-bottom: $s025; }
// .mtrb-33  { margin-top: $s033; margin-right: $s033; margin-bottom: $s033; }
// .mtrb-50  { margin-top: $s050; margin-right: $s050; margin-bottom: $s050; }
// .mtrb-66  { margin-top: $s066; margin-right: $s066; margin-bottom: $s066; }
// .mtrb-75  { margin-top: $s075; margin-right: $s075; margin-bottom: $s075; }
// .mtrb-100 { margin-top: $s100; margin-right: $s100; margin-bottom: $s100; }
// .mtrb-150 { margin-top: $s150; margin-right: $s150; margin-bottom: $s150; }
// .mtrb-200 { margin-top: $s200; margin-right: $s200; margin-bottom: $s200; }

// Right / Bottom / Left
// .mrbl-0   { margin-right: $s000; margin-bottom: $s000; margin-left: $s000; }
// .mrbl-0   { margin-right: $s010; margin-bottom: $s010; margin-left: $s010; }
// .mrbl-25  { margin-right: $s025; margin-bottom: $s025; margin-left: $s025; }
// .mrbl-33  { margin-right: $s033; margin-bottom: $s033; margin-left: $s033; }
// .mrbl-50  { margin-right: $s050; margin-bottom: $s050; margin-left: $s050; }
// .mrbl-66  { margin-right: $s066; margin-bottom: $s066; margin-left: $s066; }
// .mrbl-75  { margin-right: $s075; margin-bottom: $s075; margin-left: $s075; }
// .mrbl-100 { margin-right: $s100; margin-bottom: $s100; margin-left: $s100; }
// .mrbl-150 { margin-right: $s150; margin-bottom: $s150; margin-left: $s150; }
// .mrbl-200 { margin-right: $s200; margin-bottom: $s200; margin-left: $s200; }

// Bottom / Left / Top
// .mblt-0   { margin-bottom: $s000; margin-left: $s000; margin-top: $s000; }
// .mblt-10  { margin-bottom: $s010; margin-left: $s010; margin-top: $s010; }
// .mblt-25  { margin-bottom: $s025; margin-left: $s025; margin-top: $s025; }
// .mblt-33  { margin-bottom: $s033; margin-left: $s033; margin-top: $s033; }
// .mblt-50  { margin-bottom: $s050; margin-left: $s050; margin-top: $s050; }
// .mblt-66  { margin-bottom: $s066; margin-left: $s066; margin-top: $s066; }
// .mblt-75  { margin-bottom: $s075; margin-left: $s075; margin-top: $s075; }
// .mblt-100 { margin-bottom: $s100; margin-left: $s100; margin-top: $s100; }
// .mblt-150 { margin-bottom: $s150; margin-left: $s150; margin-top: $s150; }
// .mblt-200 { margin-bottom: $s200; margin-left: $s200; margin-top: $s200; }

// Left / Top / Right
// .mltr-0   { margin-left: $s000; margin-top: $s000; margin-right: $s000; }
// .mltr-10  { margin-left: $s010; margin-top: $s010; margin-right: $s010; }
// .mltr-25  { margin-left: $s025; margin-top: $s025; margin-right: $s025; }
// .mltr-33  { margin-left: $s033; margin-top: $s033; margin-right: $s033; }
// .mltr-50  { margin-left: $s050; margin-top: $s050; margin-right: $s050; }
// .mltr-66  { margin-left: $s066; margin-top: $s066; margin-right: $s066; }
// .mltr-75  { margin-left: $s075; margin-top: $s075; margin-right: $s075; }
// .mltr-100 { margin-left: $s100; margin-top: $s100; margin-right: $s100; }
// .mltr-150 { margin-left: $s150; margin-top: $s150; margin-right: $s150; }
// .mltr-200 { margin-left: $s200; margin-top: $s200; margin-right: $s200; }

// 2 sides --------------------------------------------------------------------

// Top / Right
// .mtr-0   { margin-top: $s000; margin-right: $s000; }
// .mtr-10  { margin-top: $s010; margin-right: $s010; }
// .mtr-25  { margin-top: $s025; margin-right: $s025; }
// .mtr-33  { margin-top: $s033; margin-right: $s033; }
// .mtr-50  { margin-top: $s050; margin-right: $s050; }
// .mtr-66  { margin-top: $s066; margin-right: $s066; }
// .mtr-75  { margin-top: $s075; margin-right: $s075; }
// .mtr-100 { margin-top: $s100; margin-right: $s100; }
// .mtr-150 { margin-top: $s150; margin-right: $s150; }
// .mtr-200 { margin-top: $s200; margin-right: $s200; }

// Right / Bottom
// .mrb-0   { margin-right: $s000; margin-bottom: $s000; }
// .mrb-10  { margin-right: $s010; margin-bottom: $s010; }
// .mrb-25  { margin-right: $s025; margin-bottom: $s025; }
// .mrb-33  { margin-right: $s033; margin-bottom: $s033; }
// .mrb-50  { margin-right: $s050; margin-bottom: $s050; }
// .mrb-66  { margin-right: $s066; margin-bottom: $s066; }
// .mrb-75  { margin-right: $s075; margin-bottom: $s075; }
// .mrb-100 { margin-right: $s100; margin-bottom: $s100; }
// .mrb-150 { margin-right: $s150; margin-bottom: $s150; }
// .mrb-200 { margin-right: $s200; margin-bottom: $s200; }

// Bottom / Left
// .mbl-0   { margin-bottom: $s000; margin-left: $s000; }
// .mbl-10  { margin-bottom: $s010; margin-left: $s010; }
// .mbl-25  { margin-bottom: $s025; margin-left: $s025; }
// .mbl-33  { margin-bottom: $s033; margin-left: $s033; }
// .mbl-50  { margin-bottom: $s050; margin-left: $s050; }
// .mbl-66  { margin-bottom: $s066; margin-left: $s066; }
// .mbl-75  { margin-bottom: $s075; margin-left: $s075; }
// .mbl-100 { margin-bottom: $s100; margin-left: $s100; }
// .mbl-150 { margin-bottom: $s150; margin-left: $s150; }
// .mbl-200 { margin-bottom: $s200; margin-left: $s200; }

// Left / Top
// .mlt-0   { margin-left: $s000; margin-top: $s000; }
// .mlt-10  { margin-left: $s010; margin-top: $s010; }
// .mlt-25  { margin-left: $s025; margin-top: $s025; }
// .mlt-33  { margin-left: $s033; margin-top: $s033; }
// .mlt-50  { margin-left: $s050; margin-top: $s050; }
// .mlt-66  { margin-left: $s066; margin-top: $s066; }
// .mlt-75  { margin-left: $s075; margin-top: $s075; }
// .mlt-100 { margin-left: $s100; margin-top: $s100; }
// .mlt-150 { margin-left: $s150; margin-top: $s150; }
// .mlt-200 { margin-left: $s200; margin-top: $s200; }

// Top / Bottom
// .mtb-0   { margin-top: $s000; margin-bottom: $s000; }
// .mtb-10  { margin-top: $s010; margin-bottom: $s010; }
// .mtb-25  { margin-top: $s025; margin-bottom: $s025; }
// .mtb-33  { margin-top: $s033; margin-bottom: $s033; }
// .mtb-50  { margin-top: $s050; margin-bottom: $s050; }
// .mtb-66  { margin-top: $s066; margin-bottom: $s066; }
// .mtb-75  { margin-top: $s075; margin-bottom: $s075; }
// .mtb-100 { margin-top: $s100; margin-bottom: $s100; }
// .mtb-150 { margin-top: $s150; margin-bottom: $s150; }
// .mtb-200 { margin-top: $s200; margin-bottom: $s200; }
// .mv-0   { margin-top: $s000; margin-bottom: $s000; } // Alias
.mv-10  { margin-top: $s010; margin-bottom: $s010; } // Alias
.mv-25  { margin-top: $s025; margin-bottom: $s025; } // Alias
// .mv-33  { margin-top: $s033; margin-bottom: $s033; } // Alias
.mv-50  { margin-top: $s050; margin-bottom: $s050; } // Alias
// .mv-66  { margin-top: $s066; margin-bottom: $s066; } // Alias
// .mv-75  { margin-top: $s075; margin-bottom: $s075; } // Alias
.mv-100 { margin-top: $s100; margin-bottom: $s100; } // Alias
// .mv-150 { margin-top: $s150; margin-bottom: $s150; } // Alias
// .mv-200 { margin-top: $s200; margin-bottom: $s200; } // Alias

// Right / Left
// .mrl-0   { margin-right: $s000; margin-left: $s000; }
// .mrl-10  { margin-right: $s010; margin-left: $s010; }
// .mrl-25  { margin-right: $s025; margin-left: $s025; }
// .mrl-33  { margin-right: $s033; margin-left: $s033; }
// .mrl-50  { margin-right: $s050; margin-left: $s050; }
// .mrl-66  { margin-right: $s066; margin-left: $s066; }
// .mrl-75  { margin-right: $s075; margin-left: $s075; }
// .mrl-100 { margin-right: $s100; margin-left: $s100; }
// .mrl-150 { margin-right: $s150; margin-left: $s150; }
// .mrl-200 { margin-right: $s200; margin-left: $s200; }
// .mh-0   { margin-right: $s000; margin-left: $s000; } // Alias
// .mh-25  { margin-right: $s025; margin-left: $s025; } // Alias
// .mh-33  { margin-right: $s033; margin-left: $s033; } // Alias
// .mh-50  { margin-right: $s050; margin-left: $s050; } // Alias
// .mh-66  { margin-right: $s066; margin-left: $s066; } // Alias
// .mh-75  { margin-right: $s075; margin-left: $s075; } // Alias
// .mh-100 { margin-right: $s100; margin-left: $s100; } // Alias
// .mh-150 { margin-right: $s150; margin-left: $s150; } // Alias
// .mh-200 { margin-right: $s200; margin-left: $s200; } // Alias

// 1 side ---------------------------------------------------------------------

// Top

// .mt-0   { margin-top: $s000; }
// .mt-10  { margin-top: $s010; }
// .mt-25  { margin-top: $s025; }
// .mt-33  { margin-top: $s033; }
// .mt-50  { margin-top: $s050; }
// .mt-66  { margin-top: $s066; }
// .mt-75  { margin-top: $s075; }
// .mt-100 { margin-top: $s100; }
// .mt-150 { margin-top: $s150; }
// .mt-200 { margin-top: $s200; }

// Right
// .mr-0   { margin-right: $s000; }
// .mr-10  { margin-right: $s010; }
// .mr-25  { margin-right: $s025; }
// .mr-33  { margin-right: $s033; }
// .mr-50  { margin-right: $s050; }
// .mr-66  { margin-right: $s066; }
// .mr-75  { margin-right: $s075; }
// .mr-100 { margin-right: $s100; }
// .mr-150 { margin-right: $s150; }
// .mr-200 { margin-right: $s200; }

// Bottom
.mb-0   { margin-bottom: $s000; }
.mb-10  { margin-bottom: $s010; }
.mb-25  { margin-bottom: $s025; }
.mb-33  { margin-bottom: $s033; }
.mb-50  { margin-bottom: $s050; }
.mb-66  { margin-bottom: $s066; }
.mb-75  { margin-bottom: $s075; }
.mb-100 { margin-bottom: $s100; }
// .mb-150 { margin-bottom: $s150; }
// .mb-200 { margin-bottom: $s200; }

// Left
// .ml-0   { margin-left: $s000; }
// .ml-10  { margin-left: $s010; }
// .ml-25  { margin-left: $s025; }
// .ml-33  { margin-left: $s033; }
// .ml-50  { margin-left: $s050; }
// .ml-66  { margin-left: $s066; }
// .ml-75  { margin-left: $s075; }
// .ml-100 { margin-left: $s100; }
// .ml-150 { margin-left: $s150; }
// .ml-200 { margin-left: $s200; }
