<main>

  <header>

    <div class="left">
      <button class="sidebar-toggle" (click)="onSidebarToggle()">
        {{ isSidebarOpen ? 'Close' : 'Open' }}
        Menu
      </button>
    </div>

    <div class="right">
      <h1 class="version">FoWDB Components</h1>
    </div>
  </header>

  <div class="pages">
    <router-outlet></router-outlet>
  </div>

</main>

<aside [class.collapsed]="!isSidebarOpen">

  <div class="back" fowBack>
    &larr;&nbsp;Back
  </div>

  <nav class="navigation">
    <ul>
      <li *ngFor="let firstLevel of TESTS_ROUTES" class="group">
        <h3 class="group-name">{{ firstLevel.data.label }}</h3>
        <ul class="group-links">
          <li *ngFor="let secondLevel of firstLevel.children">
            <a [routerLink]="[firstLevel.path, secondLevel.path]">
              {{ secondLevel.data.label }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

</aside>
