<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twig 101</title>
</head>
<body>
    <div class="page-header">
        <h1>Twig test</h1>
    </div>
    
    <ul>
        <li>
            <strong>Name:</strong>
            {{ name }}
        </li>
        <li>
            <strong>Age:</strong>
            {{ age }}
        </li>
    </ul>
</body>
</html>
