@mixin app-root()
{
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}
