.pointer,
input[type=checkbox]:hover,
input[type=radio]:hover { cursor: pointer; }
img { max-width: 100%; }
.pre-wrap  {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* Rulings (card page) */
.f-rulings-highlight {
  background: #a0ffa0!important;
}
.f-rulings-item:nth-child(odd) {
  background: rgba(0,0,0,0.01);
}
.f-rulings-errata,
.f-rulings-date,
.f-rulings-buttons {
  display: inline-block;
}
.f-rulings-errata {
  color: rgb(217, 83, 79);/*danger*/
  font-style: italic;
}
.prop-label,
.prop-value {
  margin-top: .2em;
  padding-top: .3em;
  padding-bottom: .3em
}
.cardpage {
  margin-bottom: 1em
}
.cardpage-img {
  border-radius: 4%;
}
.cardpage-links {
  display: block;
  margin-bottom: .2em
}
.cardpage .card-props img {
  background: 0 0
}
.card-props .card-prop {
  margin-bottom: 0.33rem;
  box-shadow: 0 3px 5px #eee;
  border-radius: 0 0 0 2rem;
}
.prop-label {
  font-size: 90%;
  font-style: italic;
  text-align: right;
  color: #888;
}
.narp,
.prop-value {
  text-align: left
}
.prop-value {
  padding-left: .5em;
}
