html {
  position: relative;
  min-height: 100%;
  font-size: $font-size;
}
body {
  font-family: $font-family;
  margin-bottom: 100px; // Deal with the footer
  height: 100%;
}

// Footer ---------------------------------------------------------------------
footer {
  position: absolute;
  text-align: center;
  padding: 0.5em;
  bottom: 0;
  width: 100%;
  height: 100px;// Min height to min resolution to see entire footer
  color: #888;
}
footer .footer-icons a {
  color: #888!important;;
  font-size: 1.75em;
  text-decoration: none;
}
footer .footer-icons a:hover {
  color: #333!important;
}
footer-desc {
  font-size: .8em;
}

// General
mark {
  background: 0 0!important;
  padding: 0
}

// Custom card component
.fdb-card {
  display:inline-block;
  margin:0;
  padding:.3em;
  position: relative; /* Needed for .missing-label and .fdb-card-spoilerd */
}
// Avoids nasty white corners
.fdb-card img,
.fdb-card-img {
  width: 100%;
  border-radius: 3%!important;
}

// Shown when clicking on "Show missing" on Options panel in /spoiler
.fdb-card-missing-label {
  position: absolute;
  top: 10%;
  left: 10%;
  border-radius: .5rem;
  color: #fff;
  font-size: $font-120;
  background: $color-my-primary;
  border: 1px solid #fff;
  padding: .1rem .3rem;
  max-width: 100%;
}

// Spoiled card into search Results
.fdb-card-spoiled img {
  border: 2px solid #f00;
  border-radius: 5%!important;
}
.fdb-card-spoiled::after {
  position: absolute;
  max-width: 100%;
  content: "SPOILER";
  font-weight: bold;
  color: white;
  background-color: rgba(255,0,0,0.75);
  left: 5%;
  bottom: 5%;
}
/* Card classes: round results */
.fdb-card-1 {width: 100.00%;}
.fdb-card-2 {width: 50.00%;}
.fdb-card-3 {width: 33.30%;}
.fdb-card-4 {width: 25.00%;}
.fdb-card-5 {width: 20.00%;}
.fdb-card-6 {width: 16.60%;}
.fdb-card-7 {width: 14.28%;}
.fdb-card-8 {width: 12.50%;}
.fdb-card-9 {width: 11.10%;}
.fdb-card-10 {width: 10.00%;}

.author .author-links,
.card-missing span,
.fdb-admin-li-name,
.filter-header,
.highlight-text,
mark {
  font-weight: 700
}
.flavortext,
.form-label {
  font-style: italic
}
.fdb-mono,
.fdb-monospaced {
  font-family: monospace
}
div#page-wrapper {
  margin: 0 auto;
  max-width: 75em
}
a.no-style {
  color: initial;
}
a.local:hover:after {
  content: "#";
}
em {
  font-style: italic;
}
.pointer,
input[type=checkbox]:hover,
input[type=radio]:hover {
  cursor: pointer
}
img {
  max-width: 100%
}
.box {
  margin-top: 1em;
  margin-bottom: 1em
}
.inline {
  display: inline-block
}
.block {
  display: block
}
.pre-wrap  {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* List group item customization */
.f-list-group-item:nth-child(odd) {
  background: rgba(0,0,0,0.1);
}

/* Rulings (card page) */
.f-rulings-list {}
.f-rulings-highlight {
  background: #a0ffa0!important;
}
.f-rulings-item:nth-child(odd) {
  background: rgba(0,0,0,0.01);
}
.f-rulings-errata,
.f-rulings-date,
.f-rulings-buttons {
  display: inline-block;
}
.f-rulings-errata {
  color: rgb(217, 83, 79);/*danger*/
  font-style: italic;
}

// /* Lists */
// .fdb-list > li {
//   position: relative;
//   padding-left: 0.75em;
// }
// .fdb-list > li:before {
//   position: absolute;
//   left: 0;
//   content:"- ";
//   color: #aaa;
//   font-weight:800;
// }
// .fdb-li--border {
//   border: 1px solid #ccc;
//   padding: 0.5em;
//   border-radius: 0.5em;
// }
#logo {
  margin-bottom: 1.5em
}
#searchbar {
  margin-bottom: 1em
}
.filter {
  margin: 1.5em 0
}
.filter-header {
  font-size: 1.1em;
  margin-bottom: .3em
}
.filter-subheader {
  font-size: .85em
}
.separate {
  margin-bottom: .1em
}
.type-divider {
  margin: .3em;
  border-bottom: 1px dashed #d8d8d8
}
.prop-label,
.prop-value {
  margin-top: .2em;
  padding-top: .3em;
  padding-bottom: .3em
}
.cardpage {
  margin-bottom: 1em
}
.cardpage-img {
  border-radius: 4%;
}
// .cardpage-btn {
//   color: #000;
//   box-shadow: .2em .2em .1em #b0b0b0;
//   border: 1px solid #000
// }
.cardpage-links {
  display: block;
  margin-bottom: .2em
}
.cardpage .card-props img {
  background: 0 0
}
.card-props .card-prop {
  margin-bottom: 0.33rem;
  box-shadow: 0 3px 5px #eee;
  border-radius: 0 0 0 2rem;
}
.prop-label {
  font-size: 90%;
  font-style: italic;
  text-align: right;
  color: #888;
}
.narp,
.prop-value,
.ruling {
  text-align: left
}
.prop-value {
  padding-left: .5em;
  /*letter-spacing: 0.05rem;*/
  /*text-align: justify;*/
}
hr .fdb-hr {
  margin: 2em!important 0;
  border: 0
}
.ruling {
  padding-top: .5em;
  border-bottom: 1px solid #a0a0a0
}
.ruling:first-child {
  padding-top: 0
}
.ruling-errata {
  background: #fff0f0
}
// .ruling-table .ruling-errata {
//   font-weight: 700;
//   color: #fff;
//   background: #d00000;
//   border-radius: .5em;
//   padding: .1em .3em
// }
.highlight-text {
  border: 1px solid #000;
  box-shadow: .3em .3em .5em #888;
  padding: .5em;
  border-radius: .5em
}
.vote {
  border: 1px solid #000;
  padding: .2em .5em;
  border-radius: .25em
}
/* Load button/image styling */
.fdb-load-btn {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.fdb-load-btn:after {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(256,256,256,0.33);
  opacity: 0;
  content: '\A';
  color: red;
}
.fdb-load-btn:hover:after {
  opacity: 1;
}
.fdb-load-btn:hover {
  color: #e53939;
}
.fdb-loading-icon {
  position: absolute;
  z-index: 2;
  font-size: 135%;
  margin: auto;
  right: 0; left: 0; bottom: 10%;
}
.fdb-card-8 .fdb-loading-icon,
.fdb-card-9 .fdb-loading-icon,
.fdb-card-10 .fdb-loading-icon {
  font-size: initial;
}
#about .description p {
  text-indent: 2em;
  margin-bottom: 2em
}
#about .description p:last-child {
  text-indent: 0;
  margin-bottom: 0
}
.author {
  margin-top: 3em;
  max-width: 40em;
  padding: 1em;
  background: #f8f8ff;
  border: 3px solid #80808f;
  border-radius: .5em;
  -webkit-box-shadow: 5px 5px 10px 0 rgba(192, 192, 192, .75);
  -moz-box-shadow: 5px 5px 10px 0 rgba(192, 192, 192, .75);
  box-shadow: 5px 5px 10px 0 rgba(192, 192, 192, .75)
}
.author .media-heading {
  font-size: 1.75em
}
.author .media-object {
  border: 2px solid #a0a0af;
  border-radius: .5em
}
.rulers-box:nth-child(odd) {
  background: #e0e0e0
}
hr.hr-intext {
  margin: .5em;
  border: 1px dashed #dde
}
.form-section {
  padding: .5em 0;
  border-radius: .5em;
  border: 1px solid #f0f0f0;
  background: #f6f6f6
}
.form-label {
  font-size: .9em
}
.fdb-admin-breadcrumbs {
  background: #f0f0f0;
  border-radius: .5em
}
.fdb-admin-li {
  padding: .5em .3em;
  border: 1px solid #ccc;
  border-top: 0;
}
.fdb-admin-li:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin-top: 1em;
  border-top: 1px solid #ccc
}
.fdb-admin-li:last-child {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-bottom: 1em
}
.fdb-admin-li-code,
.fdb-admin-li-time {
  display: block;
  margin: .5em 0;
  font-size: .75em
}
.fdb-admin-li:nth-child(odd) {
  background: #eee
}
.fdb-admin-li-time {
  font-style: italic;
  color: #000060
}
.fdb-admin-li-text {
  text-align: justify;
  text-justify: inter-word
}
.fdb-admin-li-mark-1-even {
  background-color: #FFEF9B!important
}
.fdb-admin-li-mark-1-odd {
  background-color: #FDE775!important
}
.fdb-admin-li-mark-2-even {
  background-color: #FF8B8B!important
}
.fdb-admin-li-mark-2-odd {
  background-color: #DB5758!important
}
.fdb-admin-li-mark-3-even {
  background-color: #72BBFC!important
}
.fdb-admin-li-mark-3-odd {
  background-color: #299AFF!important
}
.fdb-admin-li-mark-4-even {
  background-color: #94DE84!important
}
.fdb-admin-li-mark-4-odd {
  background-color: #6CC759!important
}
.fdb-admin-li-mark-5-even {
  background-color: #B27DEA!important
}
.fdb-admin-li-mark-5-odd {
  background-color: #A55DF3!important
}

.fdb-btn {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.fdb-btn a {
  color: inherit;
  background-color: inherit;
}
.fdb-btn:hover,
.fdb-btn:focus,
.fdb-btn.focus {
  background-color: #fff;
  color: #333;
}
.fdb-separator-v {
  margin-top: 1em!important;
  margin-bottom: 1em
}
.fdb-separator-v-05 {
  margin-top: .5em;
  margin-bottom: .5em
}
.fdb-separator-v-10 {
  margin-top: 1em;
  margin-bottom: 1em
}
.fdb-separator-v-15,
.fdb-separator-v-20 {
  margin-top: 1.5em;
  margin-bottom: 1.5em
}
.fdb-label-black {
  background: #000;
  color: #fff
}
.fdb-label-white {
  background: #fff;
  color: #000;
  border: 2px solid #000
}
.fdb-indented li {
  margin-left: 1.5em
}
.fdb-formats-label {
  background-color: #eee;
  display: inline-block;
  width: 4em;
  margin: .1em 0;
  padding: .1em;
  text-align: right;
  font-size: .75em
}
.anchor-hide {
  visibility: hidden
}
/* Comprehensive Rules */
.cr {
  font-size: 1.2em;
}
.cr li {
  margin: 0.3em 0;
}
.cr .highlight {
  background-color: #a0ffa0;
}
.cr hr {
  border-color: #ccc;
}
.cr__par__1 ul,
.cr__par__2 ul,
.cr__par__3 ul {
  padding-left: 1em;
}
.cr__par__1 .cr__par__1__title {
  font-weight: bold;
}

/* BOX --------------------------------------------------------------------- */
.app-box {
  background-color: #eee;/*@body-bg+5*/
  border-radius: 0.33em;
  border: 1px solid #e0e0e0;/*@grey-base*/
  box-shadow: 6px 6px 4px 0px #eee;/*@gray-base*/
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  position: relative;
  text-align: justify;
}
/* Change colors */
.app-box.--dark {
  background-color: #ccc;/*@gray-lighter*/
}
.app-box.--has-code {
  word-break: break-all;
}
/* Keep just position */
.app-box.no-styling {
  background: none;
  border-radius: 0;
  border: 0;
  padding: 0;
  box-shadow: none;
}
/* Remove border */
.app-box.no-border {
  border: 0;
}
/* Remove padding */
.app-box.no-padding {
  padding: 0;
}
/* Remove margin */
.app-box.no-top-margin {
  margin-top: 0;
}
.app-box.no-bottom-margin {
  margin-bottom: 0;
}
.app-box.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
/* First box of a stack */
/* Thanks to https://stackoverflow.com/a/28118696/5653974 */
.app-boxes > [class~='app-box']:first-of-type {
  margin-top: 0;
}
/* Last box of a stack */
.app-boxes > [class~='app-box']:last-of-type {
  margin-bottom: 0;
}
/* Box internal components - They're optional both must go together: all or nothing */
.app-box__title {
  text-align: initial;
}
.app-box__content {
  padding-top: 1.33em;
  border-top: 1px solid #ccc;
}


@media only screen and (max-width:767px),
(min-device-width:768px) and (max-device-width:1024px) {

  /* Remove gutters on sides in mobile view */
  div#page-wrapper {
    overflow-x: hidden;
    padding: 0!important;
    margin: 0!important;
  }
  .row {
    margin-left: 3px;
    margin-right: 3px;
  }
  .col-xs-12 {
    padding-left: 0!important;
    padding-right: 0!important;
  }

  .fdb-card-1 .fdb-loading-icon { font-size: 300%; }
  .fdb-card-2 .fdb-loading-icon { font-size: 150%; }
  .fdb-card-5 .fdb-loading-icon,
  .fdb-card-6 .fdb-loading-icon,
  .fdb-card-7 .fdb-loading-icon { font-size: initial; }

  .fdb-admin-breadcrumbs {
    background-color: inherit
  }
  .fdb-admin-breadcrumbs *,
  .fdb-btn-stack,
  .page-header small {
    display: block
  }
  .fdb-admin-li-text {
    margin-top: 1em;
    padding: 1em .5em 1em 1em;
    border-radius: .5em
  }
  .fdb-indented li {
    margin-left: 1em
  }
  .cr__par__1 ul,
  .cr__par__2 ul,
  .cr__par__3 ul {
    padding-left: 0.2em;
  }
}

@media print {
  body {
    background: #fff!important;
    font-size: 10pt!important;
    color: #000!important
  }
  #header,
  #table-errata tr td:nth-child(3),
  #table-errata tr th:nth-child(3) {
    display: none
  }
  a[href]:after {
    content: ""!important
  }
  #table-errata img {
    height: line-height
  }
  #table-errata tr td:nth-child(2) {
    font-weight: 700
  }
}
