// XS (Extra-small resolution, default)

// Container
.fd-grid-items {
  display: flex;
  flex-wrap: wrap;
}
.fd-grid-items.--no-wrap { flex-wrap: nowrap; }

// Item
.fd-grid,
.fd-grid-1  { flex-basis: 100%; }
.fd-grid-2  { flex-basis: 50.00%; }
.fd-grid-3  { flex-basis: 33.30%; }
.fd-grid-4  { flex-basis: 25.00%; }
.fd-grid-5  { flex-basis: 20.00%; }
.fd-grid-6  { flex-basis: 16.66%; }
.fd-grid-7  { flex-basis: 14.28%; }
.fd-grid-8  { flex-basis: 12.50%; }
.fd-grid-9  { flex-basis: 11.10%; }
.fd-grid-10 { flex-basis: 10.00%; }
.fd-grid-11 { flex-basis: 9.090%; }
.fd-grid-12 { flex-basis: 8.330%; }

// XS => SM (Extra-small to Small resoution)
@media (min-width: $breakpoint-xs) {
  .fd-grid-sm,
  .fd-grid-sm-1  { flex-basis: 100%; }
  .fd-grid-sm-2  { flex-basis: 50.00%; }
  .fd-grid-sm-3  { flex-basis: 33.30%; }
  .fd-grid-sm-4  { flex-basis: 25.00%; }
  .fd-grid-sm-5  { flex-basis: 20.00%; }
  .fd-grid-sm-6  { flex-basis: 16.66%; }
  .fd-grid-sm-7  { flex-basis: 14.28%; }
  .fd-grid-sm-8  { flex-basis: 12.50%; }
  .fd-grid-sm-9  { flex-basis: 11.10%; }
  .fd-grid-sm-10 { flex-basis: 10.00%; }
  .fd-grid-sm-11 { flex-basis: 9.090%; }
  .fd-grid-sm-12 { flex-basis: 8.330%; }
}

// SM => MD (Small to Medium resolution)
@media (min-width: $breakpoint-sm) {
  .fd-grid-md,
  .fd-grid-md-1  { flex-basis: 100%; }
  .fd-grid-md-2  { flex-basis: 50.00%; }
  .fd-grid-md-3  { flex-basis: 33.30%; }
  .fd-grid-md-4  { flex-basis: 25.00%; }
  .fd-grid-md-5  { flex-basis: 20.00%; }
  .fd-grid-md-6  { flex-basis: 16.66%; }
  .fd-grid-md-7  { flex-basis: 14.28%; }
  .fd-grid-md-8  { flex-basis: 12.50%; }
  .fd-grid-md-9  { flex-basis: 11.10%; }
  .fd-grid-md-10 { flex-basis: 10.00%; }
  .fd-grid-md-11 { flex-basis: 9.090%; }
  .fd-grid-md-12 { flex-basis: 8.330%; }
}

// MD+ (From medium resolution up)
// @media (min-width: $breakpoint-md) {
//   //
// }
